* text=auto !eol
/.classpath -text
/.project -text
distro/LICENSE -text
distro/README -text
distro/changelog.xml -text
distro/descriptor.xml -text
distro/profile.xml -text
/pom.xml -text
src/main/java/org/gcube/common/scan/ClasspathScanner.java -text
src/main/java/org/gcube/common/scan/ClasspathScannerFactory.java -text
src/main/java/org/gcube/common/scan/Configuration.java -text
src/main/java/org/gcube/common/scan/DefaultScanner.java -text
src/main/java/org/gcube/common/scan/matchers/NameMatcher.java -text
src/main/java/org/gcube/common/scan/matchers/PathMatcher.java -text
src/main/java/org/gcube/common/scan/matchers/ResourceMatcher.java -text
src/main/java/org/gcube/common/scan/resources/ClasspathResource.java -text
src/main/java/org/gcube/common/scan/resources/FileResource.java -text
src/main/java/org/gcube/common/scan/resources/JarEntryResource.java -text
src/main/java/org/gcube/common/scan/scanners/JarScanner.java -text
src/main/java/org/gcube/common/scan/scanners/resource/JarResourceScanner.java -text
src/main/java/org/gcube/common/scan/scanners/resource/ResourceScanner.java -text
src/main/java/org/gcube/common/scan/scanners/url/AbstractJarURLScanner.java -text
src/main/java/org/gcube/common/scan/scanners/url/DirScanner.java -text
src/main/java/org/gcube/common/scan/scanners/url/ExcludeScanner.java -text
src/main/java/org/gcube/common/scan/scanners/url/JarFileScanner.java -text
src/main/java/org/gcube/common/scan/scanners/url/JarJarScanner.java -text
src/main/java/org/gcube/common/scan/scanners/url/URLScanner.java -text
src/test/java/inner/ClassResource.java -text
src/test/java/org/acme/ResourceScannerTest.java -text
src/test/java/org/acme/ScanTest.java -text
src/test/java/org/acme/TestUtils.java -text
src/test/java/org/acme/URLScannerTest.java -text
src/test/resources/inner/innertest.jar -text
src/test/resources/inner/innertest.resource -text
src/test/resources/test.jar -text
src/test/resources/test.resource -text
